.navbar{
    display: inline-block;
    padding: .8rem;
    background-color: lightgray;
    width: 100%;
  }

.navbar-nav li {
    padding-right: 20px;
    float: none;
    display: inline-block;
}

.nav-link {
    font-size: 1.1em !important;
}

.article-full {
    margin: 20px;
}

.article-image {
    background-image: url("");
    background-color: cyan;
    width: 100%;
    height: 200px;
}

.aboutme {
    margin: 20px;
}

.contactbox {
    margin: 20px;
}

.connect-form {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.connect-form * {
    width: 100%;
}

.form-button {
    width: auto;
}
