{% extends 'skeleton.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Update Article</button>
{{form_end(form)}}
{% endblock %}
