{% extends "base.html.twig" %}

{% block title %}
    My Blog - Inscription
{% endblock title %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="connect-form">
            <form action="POST">
                <label for="firstname">First name:</label>
                <input type="text" name="firstname">
                <label for="name">Last name:</label>
                <input type="text" name="name">
                <label for="pseudo">Pseudonyme:</label>
                <input type="text" name="pseudo">
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" name="confirmpassword">
                <input type="submit" value="Submit" class="form-button">
            </form>
        </div>
    </div>
</div>
{% endblock body %}