{% extends "skeleton.html.twig" %}

{% block title %}
    My Blog
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand sticky-top">
    <div class="container-fluid justify-content-md-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Se connecter</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-9 article-container">
        {% for row in articleList %}
            <div class="article-full card">
                <h5 class="card-header">{{row.title}}</h5>
                <div class="card-body">
                    <p>{{row.content}}</p>
                    <a class="btn btn-primary" href="{{path('article', {'id': row.id})}}">Update this article</a>
                    <a class="btn btn-danger" href="{{path('remove_article', {'id': row.id})}}">Remove this article</a>
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-primary" href="{{path('add_article')}}">Add a new article</a>
        </div>
        <div class="col-3 sidebar-container">
            <div class="card aboutme">
                <h2 class="card-header">About me</h2>
                <div class="card-body">
                    <p>Here is personal information about me, and the purpose for this blog to exist.</p>
                </div>
            </div>
            <div class="card contactbox">
                <h2 class="card-header">Contacts</h2>
                <div class="card-body">
                        <p>You can contact me in a lot of places! This is where I would put links to my many social accounts.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}